.track_brick{
    height : var(--brick-size);
    display: flex;
}

.track_brick > *:nth-child(1){
    margin-right : 5px;
}

.track_brick > *:nth-child(2){
    flex-grow: 1;
}


.play_and_pause_button{
    width : var(--brick-size);
    height : "100%";
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected_track_button{
    background: var(--primary-dark);
}
.not_selected_track_button{
    background: var(--secondary-dark);
}
.brick_track_info{
    height : "100%";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brick_track_info > p{
    margin : 0;
}

.brick_track_name{
    font-size: 28px;
}

.brick_track_duration{
    font-size: 24px;
}
