header{
    background-color: var(--primary);
    height : 84px;
    display: flex;
    align-items: center;
}

header > *:nth-child(1){
    margin-left : 22px;
}

header > *:nth-child(2){
    margin-left : 26px;
}

.app_name{
    font-size: 48px;
}